# Backend environment variables

# Database
DATABASE_URL=https://yxljjbtqvuxwlgrwehez.supabase.co

# API Keys
KYC_API_KEY=dummy_kyc_key

# Agent Communication
AGENT_QUEUE_URL=rediss://default:ASV9AAImcDFjYzBkZWQyZDVkNmE0YjY4YTA5Nzk1MGI5ZjY3ZWRiOHAxOTU5Nw@active-python-9597.upstash.io:6379

# Feature Flags
KYC_ENABLED=true

# Pinata/IPFS
PINATA_API_KEY=5e526e0464fac228c05e
PINATA_API_SECRET=01ab58ae333990d22e81fc698f525c4827ed161d9efadc03799d39459dd987bc
PINATA_GATEWAY_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI3YTcxNTI2MC00NzU0LTQ0NWQtYmU5Zi02YWNlZjBiNWZiMWMiLCJlbWFpbCI6ImJlaGluZGJpbGxpb25zQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI1ZTUyNmUwNDY0ZmFjMjI4YzA1ZSIsInNjb3BlZEtleVNlY3JldCI6IjAxYWI1OGFlMzMzOTkwZDIyZTgxZmM2OThmNTI1YzQ4MjdlZDE2MWQ5ZWZhZGMwMzc5OWQzOTQ1OWRkOTg3YmMiLCJleHAiOjE3OTk3NjA3NzF9.vvfZAbsCcmIIs9t7pXm7NyEX5tz2ytcbhPaD0UiX_bw

# Contract Addresses (Local Hardhat Deployment)
ASSET_REGISTRY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
INVESTMENT_VAULT_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
RISK_ENGINE_ADDRESS=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9
DEFAULT_ENGINE_ADDRESS=0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9
RECOVERY_AUCTION_ADDRESS=0x5FC8d32690cc91D4c39d9d3abcBD16989F875707
LOSS_CLAIM_NFT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
